
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Your Notes!</h1>
	<br />
	<br />
	<article>
		Your private place for notes!
		<br>
		Save ideas quickly and what you have to remember.
		<br>
		No more searching the stack of notes and wasting time & trees
		<br />
		If you do not have an account, <a asp-controller="Register" asp-action="Index">Register for free.</a> 
	</article>
</div>
